.hero-area{
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url("../../img/hero-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.hero-content{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btn-skyblue{
    background-color: #25CCEE;
}

.bg-skyblue{
    background-color: #25CCEE;
}

.text-skyblue{
    color: #25CCEE;
}

.service-section{
    background: linear-gradient(rgba(255,255,255,.9), rgba(255,255,255,.9)), url("../../img/services-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.service-icon {
    width: 70px;
    height: 70px;
    line-height: 80px;
    border: 1px solid #25CCEE;
    border-radius: 100%;
    background-color: #25CCEE;
    text-align: center;
    color: #FFFFFF;
    transition: all 0.5s;
}

.service-icon:hover{
    color: #25CCEE;
    border: 1px solid #25CCEE;
    background-color: white;
}

.update_section{
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url("../../img/subscribe-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 35vh;
}

.social_icons {
    transition: all 0.5s;
}

.social_icons:hover {
    color: #25CCEE !important;
}